<a href="https://colab.research.google.com/github/ashwinmano/Data-Analysis/blob/master/Program_2_1840134.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
vgsales_df = pd.read_csv('vgsales.csv')

In [ ]:
vgsales_df

        Rank  ... Global_Sales
0          1  ...        82.74
1          2  ...        40.24
2          3  ...        35.82
3          4  ...        33.00
4          5  ...        31.37
...      ...  ...          ...
16593  16596  ...         0.01
16594  16597  ...         0.01
16595  16598  ...         0.01
16596  16599  ...         0.01
16597  16600  ...         0.01

[16598 rows x 11 columns]

In [ ]:
vgsales_df.loc[vgsales_df['Platform']=='PS2']

        Rank  ... Global_Sales
17        18  ...        20.81
24        25  ...        16.15
28        29  ...        14.98
38        39  ...        13.10
47        48  ...        11.66
...      ...  ...          ...
16559  16562  ...         0.01
16561  16564  ...         0.01
16572  16575  ...         0.01
16580  16583  ...         0.01
16595  16598  ...         0.01

[2161 rows x 11 columns]

In [ ]:
global_sales_list=list(vgsales_df['Global_Sales'])

In [ ]:
na_sales_list=list(vgsales_df['NA_Sales'])

In [ ]:
eu_sales_list=list(vgsales_df['EU_Sales'])

In [ ]:
global_sales_list[:10]

[82.74, 40.24, 35.82, 33.0, 31.37, 30.26, 30.01, 29.02, 28.62, 28.31]

In [ ]:
na_sales_list[:10]

[41.49, 29.08, 15.85, 15.75, 11.27, 23.2, 11.38, 14.03, 14.59, 26.93]

In [ ]:
eu_sales_list[:10]

[29.02, 3.58, 12.88, 11.01, 8.89, 2.26, 9.23, 9.2, 7.06, 0.63]

In [ ]:
#creating new list
filter_gs_list=[None]*len(global_sales_list)
filter_gs_list[1:3]#To limit from 0 to 9

[None, None]

In [ ]:
filter_na_list=[None]*len(na_sales_list)
filter_na_list[1:3]#To limit from 0 to 9

[None, None]

In [ ]:
q=3
for i in range(q-1):
  filter_gs_list[i]=global_sales_list[i]
filter_gs_list[1:3]

[40.24, None]

In [ ]:
q=3
for i in range(q-1):
  filter_gs_list[i]=global_sales_list[i]

for i in range (q-1,len(global_sales_list)):
  start_i=(i+1)-q
  end_i=i+1
  filter_gs_list[i]=sum(global_sales_list[start_i:end_i])/3.0

filter_gs_list[:10]

[82.74,
 40.24,
 52.93333333333333,
 36.35333333333333,
 33.39666666666667,
 31.543333333333337,
 30.546666666666667,
 29.763333333333335,
 29.21666666666667,
 28.650000000000002]

In [ ]:
#Asymmetric Mean Filter
q=3
for i in range(q-1):
  filter_gs_list[i]=global_sales_list[i]

for i in range (q-1,len(global_sales_list)):
  start_i=(i+1)-q
  end_i=i+1
  filter_gs_list[i]=sum(global_sales_list[start_i:end_i])/3.0
filter_gs_list[:10]

[82.74,
 40.24,
 52.93333333333333,
 36.35333333333333,
 33.39666666666667,
 31.543333333333337,
 30.546666666666667,
 29.763333333333335,
 29.21666666666667,
 28.650000000000002]

In [ ]:
global_sales_list[:10]

[82.74, 40.24, 35.82, 33.0, 31.37, 30.26, 30.01, 29.02, 28.62, 28.31]

In [ ]:
filter_gs_list[:10]

[82.74,
 40.24,
 52.93333333333333,
 36.35333333333333,
 33.39666666666667,
 31.543333333333337,
 30.546666666666667,
 29.763333333333335,
 29.21666666666667,
 28.650000000000002]

In [ ]:
#Asymmetric Mean Filter
q=3
for i in range(q-1):
  filter_na_list[i]=na_sales_list[i]

for i in range (q-1,len(na_sales_list)):
  start_i=(i+1)-q
  end_i=i+1
  filter_na_list[i]=np.median(na_sales_list[(i-start_i):(i+start_i+1)])

In [ ]:
na_sales_list[:10]

[41.49, 29.08, 15.85, 15.75, 11.27, 23.2, 11.38, 14.03, 14.59, 26.93]

In [ ]:
filter_na_list[:10]

[41.49, 29.08, 15.85, 15.75, 15.75, 14.59, 14.59, 14.03, 11.38, 11.38]

In [ ]:
#Symmetric Mean Filtering
import numpy as np
q=3
start=int(q/2)
end=(len(global_sales_list)-start)
for i in range(start,end):
  filter_gs_list[i]=np.mean(global_sales_list[(i-start):(i+start+1)])
  filter_gs_list[:10]

In [ ]:
global_sales_list[:10]

[82.74, 40.24, 35.82, 33.0, 31.37, 30.26, 30.01, 29.02, 28.62, 28.31]

In [ ]:
filter_gs_list[:10]

[82.74,
 52.93333333333333,
 36.35333333333333,
 33.39666666666667,
 31.543333333333337,
 30.546666666666667,
 29.763333333333335,
 29.21666666666667,
 28.650000000000002,
 27.23]

In [ ]:
#Symmetric median filtering
q=3
start=int(q/2)
end=(len(na_sales_list)-start)
for i in range(start,end):
  filter_na_list[i]=np.median(na_sales_list[(i-start):(i+start+1)])

In [ ]:
na_sales_list[:20]

[41.49,
 29.08,
 15.85,
 15.75,
 11.27,
 23.2,
 11.38,
 14.03,
 14.59,
 26.93,
 9.07,
 9.81,
 9.0,
 8.94,
 9.09,
 14.97,
 7.01,
 9.43,
 12.78,
 4.75]

In [ ]:
filter_na_list[:20]

[41.49,
 29.08,
 15.85,
 15.75,
 15.75,
 11.38,
 14.03,
 14.03,
 14.59,
 14.59,
 9.81,
 9.07,
 9.0,
 9.0,
 9.09,
 9.09,
 9.43,
 9.43,
 9.43,
 6.42]

In [ ]:
#Min-Max Data Transformation
import copy
eu_list_1=eu_sales_list
eu_list_2=copy.copy(eu_list_1)
for i in range(0,10):
  eu_list_2[i]=(eu_list_1[i]-np.min(eu_list_1))/(np.max(eu_list_1)-np.min(eu_list_1))

In [ ]:
eu_list_2[:10]

[1.0,
 0.1233631977946244,
 0.4438318401102688,
 0.37939352170916607,
 0.30634045485871814,
 0.07787732598208132,
 0.3180565127498277,
 0.31702274293590627,
 0.24328049620951067,
 0.021709166092350105]

In [ ]:
#Mu-Sigma Data Transformation
eu_list_3=eu_sales_list
eu_list_4=copy.copy(eu_list_1)
mean=np.mean(eu_list_3)
sigma=np.std(eu_list_4)
for i in range(0,10):
  eu_list_4[i]=(eu_list_3[i]-mean)/sigma

In [ ]:
eu_list_4[:10]

[57.13692978140741,
 6.794188303888322,
 25.197784834585157,
 21.49727671497192,
 17.302048258512,
 4.182064925337802,
 17.974867916623495,
 17.91550147620189,
 13.680695392794235,
 0.9564883290973893]